<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User page</title>
</head>
<body>
<h1> Mongo DB: <%= info.name %> </h1>
<ul>
    <li> <b>Name:</b> <%= info.name %>  </li>
    <li> <b>Brand:</b> <%= info.brand %> </li>
    <li> <b>Country:</b> <%= info.country %> </li>
    <li> <b>Capacity:</b> <%= info.capacity %> </li>
    <img src=<%= info.url %>>

</ul>



<a href="http://localhost:9999/alldb"> Back to Bike List</a>

</body>
</html>